$bg-color: rgb(112, 255, 148);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$indigo: rgb(99, 102, 241);
$button-bg: rgb(28, 78, 216);
$button-border: rgb(79, 38, 228);
$timer-bg: rgb(99, 102, 241, 100%);

.banner {
  width: 100%;
  height: var(--banner-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
    margin: 0;
  }

  .headline {
    color: $black;
    text-align: left;
    //font-size: 24px;
    font-family: Afacad;
    font-weight: normal;
  }

  .sub-title {
    color: $black;
    text-align: center;
    font-size: 14.4px;
    font-family: Afacad;
    font-weight: normal;
  }

  .logo {
    width: 100px;
    height: 50px;
  }

  .offer-info {
    color: $black;
    text-align: center;

    .offer-end {
      font-size: 12px;
      font-family: Kreon;
      font-weight: normal;
    }

    .countdown-main {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .timer {
        position: relative;
        background-color: $timer-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        z-index: 0;

        .countdown-element {
          font-family: Manrope;
          font-weight: bold;
          font-size: 2rem;
          color: $indigo;
          text-align: center;
          max-width: 30px;
        }

        p {
          font-size: 0.875rem;
          color: gray;
          margin-top: 0.25rem;
          text-align: center;
        }
      }
    }
  }

  .claim-button {
    width: 117px;
    height: 40px;
    background-color: $button-bg;
    color: $white;
    font-size: 14px;
    font-family: "Abhaya Libre ExtraBold";
    font-weight: bold;
    border: 1px solid $button-border;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  // Responsive Styles
  // Mobile Styles
  @media (max-width: 760px) {

    height: auto !important;
    padding-bottom: 5px !important;

    .headline {
      font-size: 20px;
    }

    .timer {
      z-index: 0 !important;
    }

    .sub-title {
      font-size: 12px;
    }
  }

  @media (min-width: 640px) and (max-width: 1023px) {
    height: auto !important;
    padding-bottom: 5px !important;

    .headline {
      font-size: 22px;
    }

    .sub-title {
      font-size: 13px;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;

    .c-col-1 {
      width: 50%;
    }

    .c-col-2 {
      width: 16.67%;
    }

    .c-col-3 {
      width: 33.33%;
    }

    .c-p-4 {
      padding: 1rem;
    }

    .c-ml-40 {
      margin-left: 40px;
    }

    .c-mr-40 {
      margin-right: 40px;
    }
  }

  &.sticky {
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
  }
}

// Utility Classes
.c-rounded-md {
  border-radius: 0.375rem;
}

.c-flex {
  display: flex;
}

.c-flex-col {
  flex-direction: column;
}

.c-justify-center {
  justify-content: center;
}

.c-items-center {
  align-items: center;
}

.c-text-black {
  color: rgb(29, 35, 39);
}

.c-pr-2 {
  padding-right: 0.5rem;
}

.c-pl-2 {
  padding-left: 0.5rem;
}

.c-relative {
  position: relative;
}

.c-text-sm {
  font-size: 0.875rem;
}

.c-font-normal {
  font-weight: 400;
}

.c-text-gray-900 {
  color: #1f2937;
}

.c-mt-1 {
  margin-top: 0.25rem;
}

.c-text-center {
  text-align: center;
}

.c-w-full {
  width: 100%;
}

.c-space-x-1 {
  > * {
    margin-right: 0.25rem;
  }

  > :last-child {
    margin-right: 0;
  }
}

.c-before {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0.125rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    z-index: 10;
  }
}

.c-font-manrope {
  font-family: 'Manrope', sans-serif;
}

.c-font-semibold {
  font-weight: 600;
}

.c-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.c-text-indigo-600 {
  color: #4f46e5;
}

.c-tracking-16px {
  letter-spacing: 16px;
}

.c-max-w-30px {
  max-width: 30px;
}

.c-z-20 {
  z-index: 20;
}

.c-bg-indigo-100 {
  background-color: #e0e7ff;
}

.c-w-max {
  width: max-content;
}

.count-down-main{
  z-index: 0;
}

.c-text-14px{
  font-size: 14px;
}

.c-text-16px{
  font-size: 16px;
}

.c-w-12 {
  width: 3rem;
}