.bottomSticky {
  position: sticky;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  box-sizing: border-box;
}

.topSticky {
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  box-sizing: border-box;
}